@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700);


html {
  height: 100%;
font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

body {
  height: 100%;
  margin: 0;
      background: rgba(0,0,0,.1);
}

* {
  box-sizing: border-box;
}

#container {
  display: table;
  width: 1200px;
 background: #fff;
  margin: 60px auto;
  border-radius: 4px;
}
/* Side Bar */

#sideMenu {
  width: 240px;
  height: 100%;
  padding: 30px;
  border-right: 1px solid #111;
  display: table-cell;
  vertical-align: top;
  color: rgb(102, 102, 102);
}

.menu {
  list-style: none;
  margin: 24px 0;
  padding: 0;
}

.menu li {
  display: block;
  height: 30px;
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  font-weight: 300;
  color: rgb(102, 102, 102);
  position: relative;
}

.menu li:hover {
  color: #239ae3;
}

.menu li:first-child {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.addCategory {
  font-size: 13px;
  font-weight: 300;
  color: rgb(102, 102, 102);
}

.addCategory:hover {
  color: rgb(102, 102, 102);
}
/* Content */

#content {
  width: calc(100% - 240px);
  height: 100%;
  padding: 25px;
  display: table-cell;
    color: rgb(102, 102, 102);
}

#titleBar {
  height: 36px;
  margin-bottom: 30px;
    
}

.controls {
  display: block;
  width: 70px;
  height: 20px;
 color: rgb(102, 102, 102);
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  float: right;
  border-radius: 20px;
}

.activeControl {
   color: rgb(102, 102, 102);
  font-weight: 600;
}

#salesData {
  margin-bottom: 60px;
   
}

#totalSales {
  height: 120px;
  position: relative;
  margin-top: 24px;
  margin-bottom: 50px;
}

#totalSales .col {
  float: left;
  width: 33.33%;
  height: 100%;
}

#totalSales .col .progressTitle {
  float: left;
  margin-left: 20px;
  font-weight: 300;
    color: rgb(102, 102, 102);
}

.progressBar {
  float: left;
  height: 120px;
  width: 120px;
  font-size: 40px;
  text-align: center;
  line-height: 120px;
 
}
/* Icons */

.notification {
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, .8);
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #202b33;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2%;
  margin: auto;
}

.colorIcon {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2%;
  margin: auto;

}

.plus {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 8px;
  padding: 4px;
  margin-right: 6px;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50%;

}

.red {
  background: #ec1561;
}

.orange {
  background: #ff9939;
}

.green {
  background: #2bab51;
}
/* Table */

table {
  width: 100%;
  border-collapse: collapse;
 
}

th {
  text-align: left;
    color: rgb(102, 102, 102);
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid   rgb(102, 102, 102);
  padding: 0 10px;
  padding-bottom: 14px;

}

tr:not(:first-child):hover {
}

td {
  height: 40px;
  line-height: 40px;
  font-weight: 300;
  color: rgb(102, 102, 102);
  padding: 0 10px;
}
/* Headers */





.clearFix {
  clear: both;
   
}



#b .icon{
  transition: transform .2s ease-in-out;
 transform: translate3d(1000px, 20px, 0px); 
}
 

@keyframes bobble {
    0% {
        transform: translate3d(50px, 40px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(50px, 50px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(50px, 40px, 0px);
    }
}